* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  height: 100vh;

  display: grid;
}

.container {
  width: 110rem;
  height: 60rem;

  margin: auto;

  background-color: #000;

  border: none;
  border-radius: 2rem;

  overflow: hidden;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.form-container {
  text-transform: uppercase;

  padding: 3rem;

  background-color: #f1e6dd;

  display: grid;
  grid-template-rows: 1fr 2fr;
}

.contact-text {
  justify-self: self-start;
}

.contact-subheading {
  font-size: 6.3rem;
  font-weight: 800;

  letter-spacing: 0.15rem;

  color: #0e3c67;

  margin-bottom: 1.2rem;
}

.contact-description {
  font-size: 1.8rem;
  font-weight: 500;

  color: #0e3c67;

  width: 50rem;
}

.contact-form {
  display: grid;
  align-items: center;
}

.form-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 0.6rem;
}

.form-part {
  display: flex;
  flex-direction: column;

  margin-bottom: 2rem;
}

.form-part label {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;

  margin-bottom: 0.8rem;

  align-self: center;
}

.form-part input {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  padding: 1.5rem;
  margin-bottom: 0.8rem;

  box-shadow: 0 0 0.2 #000;
  /* background-color: #f1e6dd; */

  border: none;
  border-radius: 2rem;

  height: 3rem;
}

.form-part input:focus {
  outline: none;
}

.form-part input:-webkit-autofill,
.form-part input:-webkit-autofill:hover,
.form-part input:-webkit-autofill:focus,
.form-part input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-help {
  grid-column: 1 / -1;

  align-self: center;
}

.help {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  padding: 1.5rem;
  margin-bottom: 0.8rem;

  border: none;
  border-radius: 2rem;

  height: 5rem;
}

.help:focus {
  outline: none;
}

.form-button {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  padding: 1.5rem;
  margin-bottom: 0.8rem;

  color: #f1e6dd;
  background-color: #0e3c67;

  border: none;
  border-radius: 2rem;

  height: 6rem;

  grid-column: 1/-1;
}

.contact-img {
  height: 60rem;

  border-left: 1px solid #0e3c67;
}
